[Unit]
Description=Coleta métricas do roteador a cada minuto
[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
[Install]
WantedBy=timers.target
